*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #eff1fc;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

#timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #d8d8d8;
  top: 0;
  bottom: -100%;
  left: 50%;
  margin-left: 8px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  right: -17px;
  background: url('../assets/check.svg');
  background-size: cover; 
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover; 
  margin: 0;
  padding: 0; 
  overflow: hidden;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.container::after {
  left: -5px;
}

.content {
  background-color: white;
  position: relative;
  width: 432px;
  margin-bottom: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: -2px 1px 30px -24px rgba(0,0,0,1);
  -moz-box-shadow: -2px 1px 30px -24px rgba(0,0,0,1);
  box-shadow: -2px 1px 30px -24px rgba(0,0,0,1);
}

@media screen and (max-width: 600px) {
  #timeline::after {
  left: 28px;
  }
  
  .container {
    left: 0%;
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .container::after {
  left: 23px;
  }
}

.products {
  border-collapse: collapse;
  width: 100%;
}

.products td, .products th {
  background-color: #f8f8f8;
  padding-left: 18px;
  padding-top: 10px;
  width: 70%;
  padding-bottom: 7px;
  border-bottom: 2px solid #f3f3f3;
}

.products td {
  padding-bottom: 5px;
}

.products tr:last-child td {
  padding-bottom: 15px;
}
.products th {
  text-align: left;
}

.header {
  font-size: 14px;
  padding: 15px;
  padding-left: 22px;
  padding-bottom: 9px;
  display: inline-flex;
  align-self: center;
}

.header img {
  margin-right: 4px;
  width: 12px;
  height: auto;
}

.header span {
  padding-right: 18px;
}